[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biget = "*"
python-telegram-bot = "*"
yt-dlp = "*"
sympy = "*"
PySocks = "*"
ipython = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
