[Unit]
Description=Service for managing my Telegram Bot.

[Service]
ExecStart=/usr/bin/python3 /mnt/wd_blue/git/MyBot/test.py

[Install]
WantedBy=multi-user.target
